
<div class="chat-content">
  <div class="chat-container">
    <div class="messages">
      <strong>Your Car Your Way - POC chat</strong>
       <!-- Mise en place du style pour les messages  -->

       <div class="chat self">
        <div>
          <div class="userphoto">
          </div>
          <strong class="chatname"> pseudo </strong>
        </div>
        <p class="chatmessage">What's up!</p>
        </div> 
      <div *ngFor="let msg of messages">
        <strong>{{ msg.sender }}:</strong> {{ msg.content }}
      </div>
    </div>
    <div class="input-area" style="margin-bottom:23px;">
      <input [(ngModel)]="sender" placeholder="Type your pseudo" />
    </div>
    <div class="input-area">
      <input [(ngModel)]="messageContent" placeholder="Type your message" />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
  
</div>
